.deviceList {
  width: 20%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  /* ease-in slow at the beginning, faster at the end */
  transition: width 0.4s ease-in;
}

/* Hide the Component */
.deviceList--hide {
  visibility: hidden;
  width: 0px;
}

h3.deviceList__title {
  margin: 0;
  padding: 8px 8px 0 8px;
}

.deviceList__search {
  margin: 0;
  padding: 0 8px;
}
