.deviceList {
  width: 20%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  transition: width 0.4s;
}

/* Hide the Component */
.deviceList--hide {
  visibility: hidden;
  width: 0px;
}

h3.deviceList__title {
  margin: 0;
  padding: 8px;
}

p.deviceList__search {
  margin: 0;
  padding: 8px;
}
